/* Estilos Generales */

    *{
        box-sizing: border-box;
        font-family: 'Ubuntu', 'Century Gothic', sans-serif;
        scroll-behavior: smooth;
    }

/* Pantallas pequeñas */

/* Pantallas medianas */

/* Pantallas grandes */